.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-image:linear-gradient(to bottom,var(--color-four),var(--color-three)) ;
    color: var(--color-one);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
}

.links {
    display: flex;
    gap: 10px;
}