.card {
    background-color: var(--color-one);
    flex-grow: 1;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid var(--color-two);
}

.title {
    color: var(---color-four);
    margin-bottom: 10px;
    margin: auto;
    padding: 0px 5px;
    border-left: 3px solid var(--red-color);
    width: fit-content;
}


.descripton {
    color: var(--color-three);
    
    
}