* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-one: #e7eaf6;
  --color-two: #a2a8d3;
  --color-three: #38598b;
  --color-four: #113f67;
  --red-color: #f95959;
  --green-color:#3a9679;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.main {
  position: relative; 
  top: 50px;
  overflow: auto;
  height: calc(100vh - 50px);
  background-color: var(--color-one);
  padding: 20px;
}
.link{
  background-color: var(--color-four);
  color: var(--color-one);
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  transition: 0.3s;
}

.link:hover{
  background-color: var(--color-three);
}